<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proportional Home</title>
  </head>
  <body>
    <div id="number_of_tasks">
      <h1>There are currently X tasks that need to be taken care of</h1>
    </div>
    <div>
      <h2>Add Task</h2>
      <h2>Checkout current tasks</h2>
    </div>
    <div id="motivation">
      <p>
        Need a little motivation?<br />
        Click here!
      </p>
    </div>
  </body>
</html>
